.columnFlexBox {
  display: flex;
  flex-direction: column;

  .trophyLogo {
    margin: 0 auto;

    img {
      height: 16rem;
    }
  }
  .motto {
    margin: 0 auto;
    font-weight: 600;
    font-size: 2.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .landingPageEventCollection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
}
