.modalBackground {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.6);

  .modalContent {
    max-width: 50%;
    background-color: white;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }

  .modalCloseButton {
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
