.navBarHeader {
  position: relative;
  background-color: #1a202c;

  .navBarOptions {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;

    .flexibleHamburgerOption {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      .loginOption {
        font-weight: 600;
        color: #63b3ed;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .loginOption:hover {
        background-color: #2b6cb0;
        border-radius: 0.25rem;
      }
    }
  }
}

.hamburgerCollapseIcon {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  color: #f56565;
}

.hamburgerExpandIcon {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
  color: white;
}
