@import '../mixins';
@import '../variables';

.navBarOptionsContainer {
  display: flex;
  color: $sky-blue;
  justify-content: space-around;

  .navBarOption {
    @include navBarOption;
  }

  .navBarOption:hover {
    @include navBarOptionHover;
  }
}
